@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Databases</h1>
    <p class="lead">This is a system to keep track of our various sets of books.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>RPG Books</h2>
        <p>
            We have a lot of games, and I do mean <i>a lot</i>. This is to keep track of the games we have, what we've played, and what we think, 
            along with other parameters.
        </p>
        <p><a class="btn btn-default" href="RPGBookDBs/Index">Check them out &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Board Games</h2>
        <p>We like to support board games almost as much as playing them. Here, we've listed them.</p>
        <p><a class="btn btn-default" href="">Board Games Here &raquo;</a></p>
    </div>
</div>